body {
	background-color: #e62e00;
}
h1 {
	text-align: center;
	color: white;
	font-family: 'Bungee Inline', cursive;
	margin-bottom: 15%;
}

h3 {
	text-align: center;
	cursor: pointer;
	font-family: 'Rokkitt', serif;
	font-weight: 700;
	font-size: 50px;

}

.container {
	padding-top: 10%;
}

#initial_choices .choices,
#webDev_choices .choices,
#webWork_choices .choices,
#webWork_choices .choices,
#mobileDev_choices .choices,
#softwareDev_choices .choices {
	display: inline-block;
	padding: 30px;
}


.web-dev,
.web-work,
.mobile-dev,
.software-dev {
	display: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}