body {
	background-color: #a6ff4d;
}
h1 {
	text-align: center;
	color: white;
	font-family: 'Bungee Inline', cursive;
}

h3 {
	text-align: center;
	cursor: pointer;
	font-family: 'Rokkitt', serif;
	font-weight: 700;

}

.container,
.row {
	padding-top: 10%;
}

.web-dev,
.web-work,
.mobile-dev,
.software-dev {
	display: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}