body {
	width: 100%;
	background-size: 100% 800px;
}

#background_image {
	background-size: 100% 800px;
	z-index: -1;
}

#body_new {
	position: absolute;
	width: 100%;
	height: 100%;
	width: 100%;
	height: 800px;
	transition: 1s ease;
	display: none;
	z-index: -1;
}

img {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 800px;
	object-fit: cover;
}

h1 {
	position: absolute;
	margin-top: 165px;
	text-align: center;
	color: #404040;
	font-family: 'Bungee Inline', cursive;
	font-size: 60px;
}

h3 {
	text-align: center;
	cursor: pointer;
	font-family: 'Rokkitt', serif;
	font-size: 60px;
	letter-spacing: 0px;
	color: #404040;

}

h3:hover {
	border-bottom: solid 2px yellow;
	font-size: 62px;
	padding-bottom: 0;
}

.message {
	position: ;
	display: none;
	z-index: 4;
}


.message h4 {
	padding-top: 80px;
	text-align: center;
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	font-size: 40px;
	color: #404040;
	z-index: 5;
}

.message p {
	padding-top: 160px;
	text-align: center;
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	font-size: 20px;
	color: white;
	letter-spacing: 2px;
	cursor: pointer;
	z-index: 5;
}

.web-dev,
.web-work,
.mobile-dev,
.software-dev,
#wrapper {
	display: none ;
}

.choices {
	display: inline-flex;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	padding-bottom: 0;
}

.show {
	display: block;
}

.hide {
	display: none;
}
/* ------ INTRO --- */

.conclude {
	display: none;
}


.intro h2 {
	width: 80%;
	margin-left: 10%;
	padding-top: 80px;
	position: absolute;
	text-align: center;
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	font-size: 40px;
	color: #e6e6e6;
	z-index: 2;
}

.intro p {
	width: 15%;
	margin-left: 42.5%;
	padding-top: 160px;
	position: absolute;
	text-align: center;
	font-family: 'Rokkitt', serif;
	font-weight: 400;
	font-size: 20px;
	color: #e6e6e6;
	letter-spacing: 2px;
	cursor: pointer;
	z-index: 2;
}

.intro p:hover {
	border-bottom: solid 2px #e6e6e6;
}

/* ------ What kind of developer do you want to be? ---- */
#initial_choices {
	width: 51%;
	margin-left: 24.5%;
	padding-top: 30%;
}

.initial h1 {
	width: 65%;
	margin-left: 17.5%;
}

/* ------ You picked WEB DEVELOPER ---- */
#webDev_choices {
	width: 68%;
	margin-left: 16%;
	padding-top: 30%;
} 

.web-dev h1 {
	width: 85%;
	margin-left: 7.5%;
}

/* ------ You picked MOBILE DEVELOPER ---- */

#mobileDev_choices {
	width: 42%;
	margin-left: 29%;
	padding-top: 30%;
}

/* ---- You pick SOFTWARE DEVELOPER --- */

#softwareDev_choices {
	padding-top: 30%;
}

/* ----- You picked WEB ---- */

#webWork_choices {
	width: 25%;
	margin-left: 37.5%;
	padding-top: 30%;
}


#softwareDev_choices {
	width: 55%;
	margin-left: 27%;
}


